<!doctype html>
<html>
<body>
    <div class="container">
        <div class="page-header">
            <h1>Conteúdo para desenvolvedor Web</h1>
        </div>
        <div>
            <p>
                Aqui você terá acesso ao código fonte de cada página através do <a href="https://github.com/nogueirawagner/cursosweb">GitHub</a>
            </p>
        </div>
    </div>
</body>
</html>