<div class="container">

    <div class="page-header">
        <h1>Formulário bootstrap</h1>
    </div>

    <div class="row">
        <div class="col-sm-8">
            <h3>Cadastre-se</h3>
            <form>

                <div class="form-group">
                    <label for="nome">Nome</label>
                    <input type="text" class="form-control" id="nome">
                </div>

                <div class="form-group">
                    <label for="email">E-mail</label>
                    <input type="email" class="form-control" id="email">
                </div>

                <div class="form-group">
                    <label for="senha">Senha</label>
                    <input type="email" class="form-control" id="senha">
                </div>

                <div class="checkbox">
                    <label>
                        <input type="checkbox"> Aceito os termos do serviço.
                    </label>
                </div>

                <div class="radio">
                    <label>
                        <input type="radio" name="opcoes"> PHP
                    </label>

                    <label>
                        <input type="radio" name="opcoes"> Java
                    </label>

                </div>

                <button type="submit" class="btn btn-default">Cadastrar</button>

            </form>

        </div>

        <div class="col-sm-4">
            <h3>Logar</h3>

            <div class="form-group">
                <input type="email" class="form-control" id="email" placeholder="Digite seu e-mail">
            </div>

            <div class="form-group">
                <input type="password" class="form-control" id="senha" placeholder="Digite sua senha">
            </div>

            <button type="submit" class="btn btn-primary">Logar</button>

        </div>

    </div>

</div> 
<h3 class="row">
    Código fonte:
    <button class="btn btn-default">
        <a href="https://github.com/nogueirawagner/cursosweb/blob/master/Cursos/Views/Bootstrap/Formulario.cshtml" target="_blank">Aqui</a>
    </button>
</h3>