
<style type="text/css">
    .marcador {
        background: #fe9d9d;
        border: 1px solid #f94646;
    }

    .marcador2 {
        background: #5bf946;
        border: 1px solid #36ae26;
    }
</style>

<div class="container">

    <div class="row">

        <div class="col-xs-6 col-sm-10 col-md-2 col-lg-10 marcador">
            <h1>1</h1>
        </div>

        <div class="col-xs-6 col-sm-2 col-md-10 col-lg-2 marcador2">
            <h1>2</h1>
        </div>

    </div>

</div> 