<div class="container">
    <div class="page-header">
        <h1>Icones</h1>
    </div>

    <h3>
        <span class="glyphicon glyphicon-user"></span>
        Teste
    </h3>

    <br />
    <a href="https://www.google.com.br">
        <span class="glyphicon glyphicon-trash"></span>
    </a>

    <br>
    <p style="color:orange; font-size:50px;">
        <span class="glyphicon glyphicon-music"></span>
    </p>

    <br>
    <button style="color:blue;" type="button" class="btn btn-default">
        <span class="glyphicon glyphicon-refresh"></span>
        Atualizar
    </button>

    <br>
    <div class="btn btn-toobar">
        <div class="btn btn-group">
            <button type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-play"></span>
            </button>

            <button type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-pause"></span>
            </button>

            <button type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-stop"></span>
            </button>

            <button type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-refresh"></span>
            </button>

        </div>
    </div>
</div>