<div class="container">

    <div class="page-header">
        <h1>Imagens bootstrap</h1>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <h3>Imagem responsiva</h3>
            <img src="~/images/uvas.png" class="img-circle img-responsive">
        </div>
        <div class="col-sm-6">
            <h3>Imagem não responsiva</h3>
            <img src="~/images/uvas.png">
        </div>
    </div><!-- fim row -->

    <div clss="row">
        <div class="col-sm-12">
            <h3>Formas em imagens</h3>
            <img src="~/images/uvas200.png" class="img-circle">
            <img src="~/images/uvas200.png" class="img-rounded">
            <img src="~/images/uvas200.png" class="img-thumbnail">

        </div>
    </div>

</div>

<h3 class="row">
    Código fonte:
    <button class="btn btn-default">
        <a href="https://github.com/nogueirawagner/cursosweb/blob/master/Cursos/Views/Bootstrap/Imagens.cshtml" target="_blank">Aqui</a>
    </button>
</h3>