<div class="container">
    <div class="page-header">
        <h1>Tabs</h1>
        <p class="lead">Alterne os conteudos</p>
    </div>

    <!-- Criação das abas  nav-pills -->
    <ul class="nav nav-tabs" role="tablist">
        <li class="active">
            <a href="#info" role="tab" data-toggle="tab">Informações</a>
        </li>
        <li>
            <a href="#avaliacao" role="tab" data-toggle="tab">Avaliação</a>
        </li>
        <li>
            <a href="#compre" role="tab" data-toggle="tab">Compre também</a>
        </li>
    </ul>

    <!--Conteudo das abas-->
    <div class="tab-content">

        <!-- aba de informações -->
        <div class="tab-pane active" role="tabpanel" id="info">
            <h2>Informações</h2>
            <P>aqui fica as informaçoes</P>
        </div>

        <!-- aba de avaliações -->
        <div class="tab-pane" role="tabpanel" id="avaliacao">
            <h2>Avaliações</h2>
            <P>Aqui fica as estrelinhas</P>
        </div>

        <!-- aba de compre -->
        <div class="tab-pane" role="tabpanel" id="compre">
            <h2>Compre também</h2>
            <P>Isso aqi tabm.</P>
        </div>
    </div>
</div>