<div class="container">
    <div class="page-header">
        <h1>Tooltip e Popover</h1>
    </div>

    <h3>Tooltip</h3>

    <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="Veja as dicas utilizadas">Dicas</button>
    <br><br>

    <div class="btn btn-toobar">
        <div class="btn btn-group">

            <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Voltar">
                <span class="glyphicon glyphicon-backward"></span>
            </button>

            <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Play">
                <span class="glyphicon glyphicon-play"></span>
            </button>

            <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Pause">
                <span class="glyphicon glyphicon-pause"></span>
            </button>

            <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Parar">
                <span class="glyphicon glyphicon-stop"></span>
            </button>

            <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Avançar">
                <span class="glyphicon glyphicon-forward"></span>
            </button>

        </div>
    </div>



    <h3>Popover</h3>
    <button type="button" class="btn btn-default" data-placement="top" data-toggle="popover"
            title="Detalhes" data-content="Aqui dentro tenho o conteúdo de tudo">
        Detalhes
    </button>

    <a href="#" data-placement="top" data-toggle="popover" data-content="Aqui tbm POKPOKSPOA APSKAposkapO aposkAPOKSOPA APOSKAposkpa"
       title="Detalhe">
        Aqui tbm tem popover
    </a>

</div>