<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title Web</title>
    
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed"
                        data-toggle="collapsed" data-target="#barra-navegacao">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#" class="navbar-brand">Logo</a>
            </div>

            <div id="barra-navegacao">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="~/Home/Index">Início</a>
                    </li>
                    <li>
                        <a href="~/Html/Index">HTML / HTML5</a>
                    </li>
                    <li>
                        <a href="#">CSS / CSS3</a>
                    </li>
                    <li>
                        <a href="~/Bootstrap/Index">Bootstrap</a>
                    </li>
                    <li>
                        <a href="#">JavaScript</a>
                    </li>
                    <li>
                        <a href="#">Ajax</a>
                    </li>
                </ul>


            </div>

        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; Wagner Nogueira (62) 99150-1668</p>
        </footer>
    </div>
    
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>
