<div class="container">


  <div class="row">
    Verifique a documentação <a href="http://www.w3schools.com/html/html_entities.asp" target="_blank" class="btn btn-default">Aqui</a>
  </div>


  <div class="row">
    Abrindo e fechando tag &lt;p&gt;
  </div>

  <div class="row">
    E comercial &amp;
  </div>

  <div class="row">
    Aspas duplas &quot;Isso aqui é do tipo texto&quot;
  </div>

  <div class="row">
    Aspas simples &apos;Aqui&apos;
  </div>

  <div class="row">
    Aspas simples &apos;Aqui&apos;
  </div>

  <div class="row">
    Marca registrada &reg;
  </div>

  <div class="row">
    Direito de cópia &copy;
  </div>

  <div class="row">
    Euro &euro;
  </div>

  <div class="row">
    Yen &yen;
  </div>

  <div class="row">
    Pound &pound;
  </div>

  <div class="row">
    Cent &cent;
  </div>
</div>