
<h3>
  Para imagens utiliza a tag <i>img</i>, ela possui um atributo importante que é o src de <b>source.</b> <br/>
  O valor dentro da tag deve ser o caminho de onde está salva a imagem.
  <br/>

  Os atributos <b>width e height</b> define a altura e largura da imagem em pixels. Se utilizar somente a propriedade de altura <i>Height</i>, a largura é ajustada proporcional.
</h3>

<h2>Imagem Local</h2>
<img src="~/images/uvas.png" /><br/>

<h2>Imagem Web</h2>
<img src="http://4.bp.blogspot.com/-Fcs4Wjkl91Y/UBKDvy_RPUI/AAAAAAAAIto/ZwrjBE7R63c/s1600/dauphine+1960.JPG" />