<!doctype html>
<html>
<body>
    <div class="container">
        <div class="page-header">
            <h1>Bootstrap</h1>
            <h3>
                Nesta seção iremos ver as classes do bootstrap e o código fonte deste material
                <button class="btn btn-default">
                    <a href="https://github.com/nogueirawagner/cursosweb/blob/master/Cursos/Views/Html/Index.cshtml" target="_blank">Aqui</a>
                </button>
            </h3>

            <p>
                <span class="glyphicon glyphicon-warning-sign" style="color:red"></span> Os botões que estão apagados como este <button class="btn btn-default">Nome Conteúdo</button>
                é porque o seu conteúdo ainda não foi publicado.
            </p>
        </div>

        <div class="container row">
            <h4>HTML</h4>

            <div class="container row center-block" style="padding: 0px 0px 10px 0px;">
                <div class="col-sm-3">
                    <a href="~/Html/Estrutura" class="btn btn-default btn-block">Estrutura de uma página</a>
                </div>

                <div class="col-sm-3">
                    <a href="~/Bootstrap/Formulario" class="btn btn-default btn-block">Cabeçalhos</a>
                </div>

                <div class="col-sm-3">
                    <a href="~/Bootstrap/Tabela" class="btn btn-default btn-block">Parágrafos</a>
                </div>
            </div>

            <div class="container row center-block" style="padding: 0px 0px 10px 0px;">
                <div class="col-sm-3">
                    <a href="~/Bootstrap/Botoes" class="btn btn-default btn-block">Formatação de Textos</a>
                </div>

                <div class="col-sm-3">
                    <a href="~/Bootstrap/Imagens" class="btn btn-default btn-block">Listas Ordenadas</a>
                </div>

                <div class="col-sm-3">
                    <a href="~/Bootstrap/Navegacao" class="btn btn-default btn-block">Listas Não Ordenadas</a>
                </div>
            </div>

            <div class="container row center-block" style="padding: 0px 0px 10px 0px;">
                <div class="col-sm-3">
                    <a href="#" class="btn btn-default btn-block">Imagens</a>
                </div>

                <div class="col-sm-3">
                    <a href="#" class="btn btn-default btn-block">Links</a>
                </div>

                <div class="col-sm-3">
                    <a href="#" class="btn btn-default btn-block">Tabelas</a>
                </div>
            </div>

            <div class="container row center-block" style="padding: 0px 0px 10px 0px;">
                <div class="col-sm-3">
                    <a href="#" class="btn btn-default btn-block">Formulários</a>
                </div>

                <div class="col-sm-3">
                    <a href="#" class="btn btn-default btn-block">Caracteres Especiais</a>
                </div>

                <div class="col-sm-3">
                    <a href="#" class="btn btn-default btn-block">Projeto Final</a>
                </div>
            </div>
        </div>

        <div class="container row" style="padding-top:10px;">
            <h4>HTML5</h4>

            <div class="container row center-block" style="padding: 0px 0px 10px 0px;">
                <div class="col-sm-3">
                    <a href="~/Bootstrap/Grid" class="btn btn-default btn-block">Header, Footer e Nav</a>
                </div>

                <div class="col-sm-3">
                    <a href="~/Bootstrap/Formulario" class="btn btn-default btn-block">Section, Article, Aside e Time</a>
                </div>

                <div class="col-sm-3">
                    <a href="~/Bootstrap/Tabela" class="btn btn-default btn-block">Compatibilidade com HTML5</a>
                </div>
            </div>

            <div class="container row center-block" style="padding: 0px 0px 10px 0px;">
                <div class="col-sm-3">
                    <a href="~/Bootstrap/Botoes" class="btn btn-default btn-block">Novas Tags Input</a>
                </div>

                <div class="col-sm-3">
                    <a href="~/Bootstrap/Imagens" class="btn btn-default btn-block">Atributo Data</a>
                </div>
            </div>
        </div>

    </div>
</body>
</html>
