<h3>
  Para utilizar links, usa a tag <strong>a</strong> de <i>anchor</i><br/>
  Para que o link funcione, deve utilizar o atributo <strong>href</strong> que significa <i>Hiperlink reference.</i><br/>
  Dentro do href pode ser colocado tanto links externos que faz referência a outros sites, e links internos que faz referência a páginas de dentro do próprio site.<br/>
  Para abrir a página do seu link em outra aba do navegador, utilize o atributo <strong>target</strong> e, nela seta o valor <strong>_blank</strong>
</h3>

<a href="http://www.google.com" target="_blank">
  Link para um site externo
</a>
<br/>

<a href="~/Html/Index">Link para página de dentro do próprio site.</a>