<div>
  <p>A lista não ordenada utiliza a tag <strong>ol</strong>, e então é exibido uma lista com marcadores na frente.</p>
</div>

<ol>
  <li>Notebook</li>
  <li>Carro</li>
  <li>Roteador</li>
  <li>Celular</li>
  <li>Microfone</li>
</ol>