<p>
    A tag que representa o parágrafo é a tag p,
    observe que quando utiliza a tag é dado um espaçamento de uma linha para a outra.
</p>


<p><strong>Frase utilizando a tag</strong></p>
Essa frase não está utilizando o parágrafo, observe o espaçamento.
Essa frase aqui também não está dentro da tag p.
<p>Essa já está</p>
Agora veja que deu novamente um espaçamento.